:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;

	--clr-black: 0, 0%;

	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--red: hsl(0, 100%, 50%);
	--orange: hsl(39, 100%, 50%);
	--yellow: hsl(60, 100%, 50%);
	--green: hsl(120, 100%, 25%);
	--blue: hsl(240, 100%, 50%);
	--indigo: hsl(275, 100%, 25%);
	--purple: hsl(300, 76%, 72%);

	--light-10: 10%;
	--light-20: 20%;
	--light-30: 30%;
	--light-40: 40%;
	--light-50: 50%;
	--light-60: 60%;
	--light-70: 70%;
	--light-80: 80%;
	--light-90: 90%;
	--light-100: 100%;

	--clr-primary: hsl(var(--clr-black), var(--light-10));

	--arial: Arial, Helvetica, sans-serif;
	--courier: 'Courier New', Courier, monospace;
	--franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	--gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--times: 'Times New Roman', Times, serif;
	--trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	--cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--georgia: Georgia, 'Times New Roman', Times, serif;
	--impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	--verdana: Verdana, Geneva, Tahoma, sans-serif;

	--fnt-primary: var(--arial);
	--fnt-secondary: var(--gill);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;
	}
}

#root,
#__next {
	isolation: isolate;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	height: 100%;
}

html,
body {
	max-width: 100vw;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		/* color-scheme: dark; */
	}
}
