.ColorSelect {
	background-color: var(--black);
	color: var(--white);

	border-radius: 4px;

	padding: 0.25rem;
	margin-inline: auto;
	width: fit-content;
}

.ColorSelect > span {
	font-weight: 600;
}

.ColorSelect > select {
	border-radius: 4px;
}
