.SectionLink {
	background-color: hsl(0, 60%, 50%);
	border: 1px solid black;
	border-radius: 4px;
	list-style-type: none;

	color: hsl(80, 60%, 75%);
}

.SectionLink:hover {
	background-color: hsl(0, 60%, 45%);
	color: hsl(80, 60%, 80%);
}
